{% macro default(level, header, icon, subheader) %}
    <div class="d-flex gap-3 align-items-center">
        {% if icon %}
            <div {{ sylius_test_html_attribute('icon', icon) }}>{{ ux_icon(icon, {'class': 'icon icon-md text-primary'}) }}</div>
        {% endif %}
        <div class="d-flex flex-column gap-2">
            <h{{ level }} class="page-title" {{ sylius_test_html_attribute('page-title') }}>
                {{ header }}
            </h{{ level }}>
            {% if subheader %}
                <div {{ sylius_test_html_attribute('subheader') }}>{{ subheader }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro h1(header, icon, subheader) %}
    {{ _self.default(1, header, icon, subheader) }}
{% endmacro %}
